$jobBG: #fdfdfd;
$border: #e0e2e5;
$text: #2c363f;
$secondary: #9b9b9b;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100vh;
  .container {
    margin: 0 auto;
    width: 1280px;
    min-width: 1280px;
    display: flex;
    justify-content: center;
    .job-container {
      border: 1px solid $border;
      width: 600px;
      .job-row {
        width: 100%;
        background: $jobBG;
        border-bottom: 1px solid $border;
        height: 72px;
        padding: 16px;
        &:last-child {
          border: none;
        }
        .job-inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .company-logo {
            width: 40px;
            height: 40px;
            img {
              width: 100%;
            }
          }
        }
        .job-description {
          width: 240px;
          .position {
            font-size: 14px;
            line-height: 14px;
            color: $secondary;
            margin-bottom: 8px;
          }
          .company-name {
            font-size: 18px;
            line-height: 18px;
            font-weight: 700;
            color: $text;
          }
        }
        .job-misc {
          text-align: right;
          .date {
            display: block;
            line-height: 12px;
            font-size: 12px;
            color: $secondary;
            font-weight: 300;
            margin-bottom: 16px;
          }
          .location {
            display: block;
            width: 120px;
            color: $secondary;
            font-weight: 600;
            line-height: 12px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
